<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>SpecStackular—Reframe Your Face</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Alegreya+SC|Fanwood+Text:400,400italic' rel='stylesheet' type='text/css'>
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-cookies/angular-cookies.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="specStackular" ng-controller="MainController">
    <navbar items="menuItems"></navbar>
    <!--Added a "container" class to the main div --Glenn (partnered with Blake) 3/23 -->
    <div ui-view class="container"></div>
</body>
</html>