<div>
    <table class="dd-table">
        <tr>
            <td padding="5px" align="center" ng-repeat="product in menProducts1">
                <a href="/item/{{product.name}}">
                    &nbsp;<br>
                    <span class="dd-name">{{ product.name }}</span>
                    <img width="100px" class="ddProductImg" ng-src='{{product.imgUrl}}'/>
                </a>
            </td>
        </tr>
        <tr>

            <td padding="5px" align="center" ng-repeat="product in menProducts2">
                <!-- Note: toggleMenVisible is in js/app.js -->
                <a href="/item/{{product.name}}" ng-click="toggleMenVisible()">
                    &nbsp;<br>
                    <span class="dd-name">{{ product.name }}</span><br>
                    <img width="100px" class="ddProductImg" ng-src='{{product.imgUrl}}'/>
                </a>
            </td>
        </tr>
    </table>
</div>

