<!-- <div class='user-creation col-md-offset-5 col-md-3'>
    <form class="form-horizontal">
        <fieldset> -->

            <!-- Form Name -->
          <!--   <legend>You're almost done!</legend> -->

            <!-- Text input-->
<!--             <div class="control-group">
                <label class="control-label" for="First name">First name</label>
                <div class="controls">
                    <input id="First name" name="First name" type="text" placeholder="John" class="input-xlarge" required="" ng-model="user.first_name">

                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="Last name">Last name</label>
                <div class="controls">
                    <input id="Last name" name="Last name" type="text" placeholder="Doe" class="input-xlarge" required="" ng-model="user.last_name">

                </div>
            </div> -->

            <!-- Password input-->
<!--             <div class="control-group">
                <label class="control-label" for="Password">Password</label>
                <div class="controls">
                    <input id="Password" name="Password" type="password" placeholder="Choose a password" class="input-xlarge" required="" ng-model="user.password">

                </div>
            </div> 
                </br>
                <button class="btn-primary" type='submit'>Submit</button> -->
            <!-- Text input-->
    <!--         <div class="control-group">
                <label class="control-label" for="Phone">Phone</label>
                <div class="controls">
                    <input id="Phone" name="Phone" type="text" placeholder="e.g. (555) 555-5555" class="input-xlarge">

                </div>
            </div> -->
<!-- 
        </fieldset>
    </form>
</div> -->