<div id="order">
	<div class='overview'>
		<h1>{{prof}}'s Active Orders</h1>
		<button ng-click='showCookie()'>Show Cookie</button>
		<div class='summary row'>
			<h4 class='total-cost col-md-offset-1'>Total Cost: </h3>
			{{sum()}}
			<h4 class='item-qty col-md-offset-1'>Number of Items: </h3>
			{{totalQty()}}
		</div>

		<div class='Categories row'>
			<h2 class='col-md-2'>Image</h3>
			<h2 class='col-md-2 col-md-offset-1'>Name</h3>
			<h2 class='col-md-2'>Price Per</h3>
			<h2 class='col-md-2'>Quantity</h3>
			</br>
		</div>

		<div class='individualOrder row' ng-repeat='line in activeorders'>
			<img ng-src='{{line.item.imgUrl}}' class='col-md-2' />
			<span class='name col-md-2 col-md-offset-1'>{{ line.item.name }}</span>
			<span class='name col-md-2'>{{ line.item.price | currency }}</span>
			<span class='quantity col-md-2'>{{line.qty}}</span>
			<button type='button-danger'>Remove Item</button>
		</div>
		<div class = 'reviews'>
			<h2>Past Orders</h2>
			<ul>
				<h3>TBD</h3>
			</ul>
		</div>
	</div>
</div>