<div class='order-modify col-md-offset-5 col-md-5'>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    Get Orders
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation" ng-repeat="menuItem in menuItems">
	    	<a role="menuitem" tabindex="-1" ng-click="getAllOrders()">{{ menuItem.label }}</a>
	    </li>
	  </ul>
	</div>
	<button class="btn" ng-click="getAllOrders()">Get all orders</button> {{ item }}
</div>