<section id="item">

    <div class="breadcrumb"><a ui-sref="home">Home / </a> <a ui-sref="men">Men / </a>{{item.name}}</div>
    <div>&nbsp;</div>
    <!-- Row -->
    <div class="container pagecontainer">
        <div class="row">
            <!-- Column -->
            <div class="col-md-7 col-sm-7 col-xs-7" id="glassesbox"><h2 class="productcaption">{{item.name}} —
                <em class="productcolor">{{item.categories}}</em></h2>
                <img src="{{item.imgUrl}}" class="productimagehome">

                <p class="productnavdiscs"><em>&bull;</em>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&bull;</p>
            </div>
            <!-- Column -->
            <div class="col-md-5 col-sm-5 col-xs-5 productdescription">
                <h1 class="productheadline">{{item.descHeading}}</h1>

                <p class="productbenefitsblurb">{{item.descContent}}</p>

                <form class="form-horizontal">
                    <fieldset>
                        <!-- Button -->
                        <div class="control-group">
                            <label class="control-label" for="addtocart"></label>

                            <div class="controls">
                                <h2>{{item.price | currency }}&nbsp;&nbsp;<h2>
                                    <button id="addtocart" name="addtocart" class="btn btn-success" ng-click='addToOrder(item)'>Add to Cart</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <!-- Column -->
        </div>
        <!-- Row -->
        <div class="row">
            <div>
                <div class="col-md-3 col-sm-3 col-xs-3 reviewshead"><h4 class="reviewstitle">Customer Reviews</h4></div>
                <div class="col-md-4 col-sm-4 col-xs-4 writereview"><h4 class="reviewstitle" id="writelink"
                                                                        ui-sref="review-entry">Write a review</h4></div>
            </div>
        </div>
        <!-- Row -->
        <div class="row" ng-controller="productreviewscontroller" id="reviewsbox">
            <div class="col-md-7 col-sm-7 col-xs-7" id="reviewsbox">
                <div class="reviewbody">
                    <ul class="reviewslist">
                        <h4 ng-repeat="review in item.reviewlist">{{review}}
                            <!-- ng-repeat="review in reviewslist" -->
                            <!--For the number of stars a given review has,-->
                            <!--I need an ng-repeat for the stars. -->
                            <!--If the $index of the star is <= the review score,-->
                            <!--it gets the stargold class. If not, it gets the stardefault.-->
                            <reviewstar value="review.rating"></reviewstar>
                            <p class="reviewtext">{{ review.text }}</p>

                        </h4>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="ReviewController">
    <form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Your reviews</legend>

        <a href="#">{{ productname }}</a>
        <div class="review-image-container"><img class="review-image" src="{{ producturl }}"></div>

        <!-- Text input-->
        <div class="control-group" >
            <label class="control-label" for="reviewtext"></label>
            <div class="controls">
                <div ng-controller="StarCtrl">

                    <rating value="rate1"></rating>

                </div>
                <textarea id="reviewtext" name="reviewtext" placeholder="Write your review here" ng-model="item.reviewCurrent"></textarea>
            </div>
        </div>

        <!-- Button -->
        <div class="control-group">
            <label class="control-label" for="submitreview"></label>
            <div class="controls">
                <button id="submitreview" name="submitreview" class="btn btn-info" ng-click="newReview(item)">Submit review</button>
            </div>
        </div>

    </fieldset>
</form>
</div>  
    <!-- Row -->

</section>




<!--<div id="item">-->
	<!--<div class='summary'>-->
		<!--<h1>Featured Glasses</h1>-->
		<!--<h2>{{item.name}}<h2>-->
		<!--<img ng-src='{{item.imgUrl}}' />-->
		<!--<h2>{{item.price | currency }}<h2>-->
		<!--<h3 ng-repeat='tag in item.categories'>{{tag}}</h3>-->
	<!--</div>-->
	<!--<div class = 'reviews' ng-repeat='review in item.reviews'>-->
		<!--<ul>-->
			<!--<h3>{{review.userId}}</h3>-->
			<!--<h2>{{review.rating}}</h2>-->
			<!--<h3>{{review.text}}</h3>-->
		<!--</ul>-->
	<!--</div>-->
<!--</div>-->
