* {
  box-sizing: border-box; }

nav {
  height: 55px !important; }

navbar {
  display: block;
  background: #ffffff;
  border-bottom: solid 0px; }
  navbar .specstackular-logo:hover {
    cursor: pointer; }
  navbar a {
    color: #849bae;
    font-family: 'Alegreya SC', serif; }
    navbar a:hover {
      color: #000000; }
  navbar .nav > li > a {
    margin-right: 12px;
    cursor: pointer; }
    navbar .nav > li > a.active {
      color: #808080; }
    navbar .nav > li > a:hover {
      transition: color 0.1s;
      background: none !important; }
    navbar .nav > li > a:focus {
      color: #808080;
      background: none !important; }
  navbar .specstackular-navbar {
    margin-bottom: 0px !important; }

@media (min-width: 600px) {
  .navbar {
    border-radius: 4px; } }

@media (min-width: 600px) {
  .specstackular-navbar {
    border-radius: 0px; } }

.navbar-header {
  padding-top: 0px;
  padding-bottom: 0px;
  border-right: solid 0px #000000; }

.nav-container {
  padding-left: 0px !important;
  margin-left: 0px; }

.divider-bar {
  margin-left: 50px;
  border: none !important; }

#spacerthing {
  margin-left: 30px; }

body {
  max-width: 880px; }

.pagecontainer {
  margin-left: 5px; }

#home {
  color: #777777; }

h1 {
  font-size: x-large;
  color: #000000;
  margin-top: 40px; }

.breadcrumb {
  position: absolute;
  left: 20px;
  margin-top: 24px;
  font-size: x-small;
  background: #ffffff; }

#glassesbox {
  text-align: center;
  padding-top: 40px; }

.productimagehome {
  width: 90%;
  max-width: 400px; }

.productcaption {
  color: #641400;
  font-family: 'Fanwood Text', serif;
  margin-bottom: 0px; }
  .productcaption em {
    font-weight: 400italic; }

.productdescription {
  max-width: 350px; }

.productnavdiscs {
  font-style: italic;
  font-size: large; }
  .productnavdiscs em {
    color: #641400; }

.reviewsbox {
  border-top: solid 1px #777777; }

.reviewstitle {
  font-size: small;
  margin-top: 30px;
  margin-bottom: 0px; }

#writelink {
  color: #849bae;
  cursor: pointer; }
  #writelink:hover {
    color: black; }

.writereview {
  text-align: right;
  display: inline; }

.reviewslist {
  margin-top: 10px;
  padding: 0px;
  list-style-type: none;
  font-size: .8em;
  font-family: 'Fanwood Text', 400italic; }

.productbenefitsblurb {
  font-size: 1.5 em; }

#showme {
  height: 1.5em !important; }

#about {
  padding-bottom: 50px; }
  #about p {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: justify;
    font-size: 25px;
    font-weight: 300; }
  #about img {
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px; }

tutorial-section {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 20px 0 60px 0; }
  tutorial-section > h1 {
    margin: 20px 0 40px 0;
    text-align: center;
    font-weight: bold; }

tutorial-video {
  display: block;
  width: 600px;
  margin: 0 auto; }
  tutorial-video h1 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px; }
  tutorial-video iframe {
    width: 600px;
    height: 400px; }

tutorial-section-menu {
  display: block; }
  tutorial-section-menu:after {
    content: "";
    display: table;
    clear: both; }
  tutorial-section-menu ul {
    margin-left: 23px;
    list-style-type: none;
    font-weight: 300; }
    tutorial-section-menu ul li {
      float: left;
      margin-right: 40px;
      padding: 10px;
      cursor: pointer; }
      tutorial-section-menu ul li:hover {
        background: #f3f3f3; }

.ng-scope .item-creation {
  font-size: 24px;
  margin-top: 30px; }

.icon-gray {
  color: #5e5e5e; }

.icon-gold {
  color: #d58512; }

.smallstar {
  font-size: medium; }

#reviewtext {
  width: 574px;
  height: 119px; }
