* {
  box-sizing: border-box; }

fullstack-logo {
  display: block; }
  fullstack-logo img {
    display: block;
    width: 100%; }

nav {
  height: 55px !important; }

navbar {
  display: block;
  background: #ffffff;
  border-bottom: solid 1px; }
  navbar .specstackular-logo:hover {
    cursor: pointer; }
  navbar a {
    color: #849bae;
    font-family: 'Alegreya SC', serif; }
    navbar a:hover {
      color: #000000; }
  navbar .nav > li > a {
    margin-right: 12px;
    cursor: pointer; }
    navbar .nav > li > a.active {
      color: #808080; }
    navbar .nav > li > a:hover {
      transition: color 0.1s;
      background: none !important; }
    navbar .nav > li > a:focus {
      color: #808080;
      background: none !important; }
  navbar .specstackular-navbar {
    margin-bottom: 0px !important; }

.navbar-header {
  padding-top: 4px;
  padding-bottom: 3px;
  border-right: solid 1px #000000; }

.nav-container {
  padding-left: 0px !important;
  margin-left: 2px; }

.divider-bar {
  margin-left: 50px;
  border: none !important; }

#spacerthing {
  margin-left: 30px; }

#home specstackular-logo {
  padding-top: 30px;
  width: 150px;
  margin: 0 auto;
  text-align: right; }
#home h1 {
  margin-top: 40px;
  text-align: center; }

#about {
  padding-bottom: 50px; }
  #about p {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: justify;
    font-size: 25px;
    font-weight: 300; }
  #about img {
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px; }

tutorial-section {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 20px 0 60px 0; }
  tutorial-section > h1 {
    margin: 20px 0 40px 0;
    text-align: center;
    font-weight: bold; }

tutorial-video {
  display: block;
  width: 600px;
  margin: 0 auto; }
  tutorial-video h1 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px; }
  tutorial-video iframe {
    width: 600px;
    height: 400px; }

tutorial-section-menu {
  display: block; }
  tutorial-section-menu:after {
    content: "";
    display: table;
    clear: both; }
  tutorial-section-menu ul {
    margin-left: 23px;
    list-style-type: none;
    font-weight: 300; }
    tutorial-section-menu ul li {
      float: left;
      margin-right: 40px;
      padding: 10px;
      cursor: pointer; }
      tutorial-section-menu ul li:hover {
        background: #f3f3f3; }

.ng-scope .item-creation {
  font-size: 24px;
  margin-top: 30px; }

.icon-gray {
  color: #5e5e5e;
  font-size: x-large; }

.icon-gold {
  color: #d58512;
  font-size: x-large; }

#reviewtext {
  width: 574px;
  height: 119px; }

.categoryList {
  list-style-type: none; }

.bounding .product {
  width: 250px;
  height: 150px; }
