nav {
  height: 55px !important;
}

navbar {

  display: block;
  background: #ffffff;
//  fullstack-logo {
//    padding-top: 10px;
//    margin-right: 20px;
//    width: 30px;
//  }

  border-bottom: solid 0px;

  .specstackular-logo {
    &:hover {
      cursor: pointer;
    }
  }

  a {
    color: #849bae;
    &:hover {
      color: #000000;
    }
    font-family: 'Alegreya SC', serif;
  }

  .nav > li > a {
    margin-right: 12px;
    cursor: pointer;
    &.active {
      color: #808080;
    }
    &:hover {
      transition: color 0.1s;
      background: none !important;
    }
    &:focus {
      color: #808080;
      background: none !important;
    }
  }

  .specstackular-navbar {
    margin-bottom: 0px !important;

  }

}

.navbar-header {
  padding-top: 0px;
  padding-bottom: 0px;
  border-right: solid 0px #000000;
}

.nav-container {
  padding-left: 0px !important;
  margin-left: 0px;
}

.divider-bar {
  margin-left: 50px;
  border: none !important;
}

#spacerthing {
  margin-left: 30px;
}

