navbar {

  display: block;
  background: #ffffff;
//  fullstack-logo {
//    padding-top: 10px;
//    margin-right: 20px;
//    width: 30px;
//  }

  a {
    color: #000000;
    &:hover {
      color: #000000;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #808080;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #808080;
      background: transparent;
    }
  }

}